/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

 @import "bootstrap";
#nav-bar{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);

}
html, body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
}


#home-page-container{
    color:#ffff;
    background-image: linear-gradient(to right top, #43c059, #00bd8c, #00b6b6, #00abce, #009dd2, #2a9ed4, #3ea0d5, #4da1d6, #22b3e0, #00c4e3, #00d4df, #0ae3d5);
    background-repeat: no-repeat;
    background-size: auto;
    height:100%
}
.card{
    margin-top:30px;
    margin-left: auto;
    margin-right: auto;
}